html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
}

#root {    
    height: 100vh;   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numBox {
    margin-top: 10%;
    margin-bottom: 2%;
    width: 30vw;
    height: 2rem;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
    min-width: 30vw;
    text-align: center;
    border: 2px solid #4CAF50;
    border-radius: 30px;
    transition: border-color 0.3s ease-in-out;
}

#numBox:focus, #numBox:hover {
    border-color: #FFEB3B;
}

#checkBtn,
#newGameBtn {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    border: 2px solid #4CAF50;
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    cursor: pointer;
}

#checkBtn:hover,
#newGameBtn:hover {
    background-color: #FFEB3B;
    border-color: #FFEB3B;
    color: black;
}

#result {
    color: #FFF;
    font-size: 1.2rem;
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.7rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#remChecks {
    margin: 1%;
    font-size: 1rem;
    color: #FFF;
}

#game-box {
    width: 55%;
    position: absolute;
    left: 22.5%;
    top: 20%;
    padding: 3%;
    background-color: rgba(33, 150, 243, 0.8);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#settings {
    display: none;
    padding: 5%;
    font-size: medium;
    background-color: #f44336;
    border-radius: 10px;
    color: white;
}

#settings input {
    width: 2rem;
    text-align: center;
    border: 1;
    border-radius: 5px;
    padding: 0.2rem;
}

#image {
    position: absolute;
    right: 1%;
    top: 1%;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}
